# Perfiles de comportamientio y minado de patrones

In [1]:
import numpy as np
import datetime
from datetime import date
import json
import pylab
import pandas as pd
import matplotlib.pyplot as plt
import os, sys, logging, warnings, time

In [2]:
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), "behavior_patterns/src/"))
import load_data as data_loader

## Contruccion de "FootPrints"

En esta etapa contruiremos los "footprints" basicos (tensores dimesionales) de cada cliente a partir de sus datos transaccionales, la dimesiones del footprint son elegidas por el usuario, nosotros tenemos los siguientes casos de estudio:

**Datos de bancarios**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}                n: # de sesiones de cada cliente

**Datos mobiles**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}

In [3]:
to_read = 'bank_trx' 
session = data_loader.session_data(font=to_read)

In [4]:
session.head(3)

,client_id,date,año,mes,dia,hora,merchant_departement,merchant_province,merchant_district,mccg,mccg_name,mcc,quantity,amount_usd,amount_sol,week,weekday,day,turn
0,+++g8j9k+5A=,2016-07-07 01:08:05,2016,7,7,1,LIMA,LIMA,San Juan De Luriganc,9,Clothing Stores,5655,1,13.875570,45.0,27,3,Thursday,1
1,++/oQ9Lb9dI=,2017-05-29 21:05:40,2017,5,29,21,LIMA,LIMA,San Juan De Luriganc,7,Utility Services,4812,1,32.067984,104.0,22,0,Monday,4
2,++1XMtcwMec=,2016-09-24 17:45:25,2016,9,24,17,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5533,1,55.502280,180.0,38,5,Saturday,3

In [5]:
footprints = data_loader.footprints(font=to_read)

User quantity: 175118
      client_id                date   año  mes  dia  hora  \
0  +++g8j9k+5A= 2016-07-07 01:08:05  2016    7    7     1
1  ++/oQ9Lb9dI= 2017-05-29 21:05:40  2017    5   29    21
2  ++1XMtcwMec= 2016-09-24 17:45:25  2016    9   24    17
3  ++5u+heOZ8o= 2016-10-25 14:47:23  2016   10   25    14
4  ++5u+heOZ8o= 2016-10-25 14:53:47  2016   10   25    14

  merchant_departement merchant_province     merchant_district  mccg  \
0                 LIMA              LIMA  San Juan De Luriganc     9
1                 LIMA              LIMA  San Juan De Luriganc     7
2                 LIMA              LIMA  San Juan De Luriganc     8
3                 LIMA              LIMA  San Juan De Luriganc     8
4                 LIMA              LIMA  San Juan De Luriganc     8

                mccg_name   mcc  quantity  amount_usd  amount_sol  week  \
0         Clothing Stores  5655         1   13.875570       45.00    27
1        Utility Services  4812         1   32.067984      104.00    22
2  Retail Outlet Services  5533         1   55.502280      180.00    38
3  Retail Outlet Services  5541         1   16.468760       53.41    43
4  Retail Outlet Services  5541         1   12.330757       39.99    43

   weekday       day  turn
0        3  Thursday     1
1        0    Monday     4
2        5  Saturday     3
3        1   Tuesday     3
4        1   Tuesday     3

KeyError: 'client_id'

In [ ]:
footprints.head()

In [ ]:
global_session

In [ ]:
global data
data=session

In [ ]:
    
    def time_window(hora):
        tw = -1
        if hora >=0:
            tw = 1       # Madrugada
        if hora >=6:
            tw = 2      # Mañana
        if hora >=12:
            tw = 3      # Tarde
        if hora >=18:
            tw = 4      # Noche
        return tw   
    
    data['date'] = pd.to_datetime(data['date'])
    data['week'] = data['date'].dt.week
    data['weekday'] = data['date'].dt.weekday
    data['day'] = data['date'].dt.day_name()
    data['turn'] = data.apply(lambda row: time_window(row[5]), axis=1)

In [ ]:
users = list(np.unique(data['client_id']))
print('User quantity:',len(users))

In [ ]:
data.head()

contador = 0 
por_avance = 0
divisor = int(len(users) / 10)
print("Number of clients "+str(len(users)))

for user in users[0:10]:
    #user_i= data[data['client_id'] == user]       # filtramos dataset solo para el cliente i
    footprint_user(user, data)
    contador += 1
    if contador % divisor == 1:
        # print("vamos en el ",contador)
        print("==> ",por_avance,"%")
        por_avance += 10

In [ ]:
#from multiprocess import Pool
import multiprocessing as multi_proc
from multiprocessing import Pool

In [ ]:
with Pool(20) as pool:
    resp_pool = pool.map(footprint_user, users[0:100])