# Perfiles de comportamientio y minado de patrones

In [1]:
import numpy as np
import datetime
from datetime import date
import json
import pylab
import pandas as pd
import matplotlib.pyplot as plt
import os, sys, logging, warnings, time

In [2]:
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), "behavior_patterns/src/"))
import load_data as data_loader

## Contruccion de "FootPrints"

En esta etapa contruiremos los "footprints" basicos (tensores dimesionales) de cada cliente a partir de sus datos transaccionales, la dimesiones del footprint son elegidas por el usuario, nosotros tenemos los siguientes casos de estudio:

**Datos de bancarios**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}                n: # de sesiones de cada cliente

**Datos mobiles**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}

In [3]:
to_read = 'bank_trx' 
session = data_loader.read_data(font=to_read)

In [4]:
footprints = data_loader.footprints(font=to_read)

C:\Users\JKN\Documents\Proyectos\tesis_jkn\behavior_patterns/src\load_data.py:56: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  data['week'] = data['date'].dt.week

In [5]:
footprints.head()

,client_id,date,año,mes,dia,hora,merchant_departement,merchant_province,merchant_district,mccg,mccg_name,mcc,quantity,amount_usd,amount_sol,week,turn
0,+++g8j9k+5A=,2016-07-07 01:08:05,2016,7,7,1,LIMA,LIMA,San Juan De Luriganc,9,Clothing Stores,5655,1,13.875570,45.00,27,0
1,++/oQ9Lb9dI=,2017-05-29 21:05:40,2017,5,29,21,LIMA,LIMA,San Juan De Luriganc,7,Utility Services,4812,1,32.067984,104.00,22,3
2,++1XMtcwMec=,2016-09-24 17:45:25,2016,9,24,17,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5533,1,55.502280,180.00,38,2
3,++5u+heOZ8o=,2016-10-25 14:47:23,2016,10,25,14,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5541,1,16.468760,53.41,43,2
4,++5u+heOZ8o=,2016-10-25 14:53:47,2016,10,25,14,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5541,1,12.330757,39.99,43,2

In [10]:
data=session

In [7]:
    
    def time_window(hora):
        tw = -1
        if hora >=0:
            tw = 1       # Madrugada
        if hora >=6:
            tw = 2      # Mañana
        if hora >=12:
            tw = 3      # Tarde
        if hora >=18:
            tw = 4      # Noche
        return tw   
    
    data['date'] = pd.to_datetime(data['date'])
    data['week'] = data['date'].dt.week
    data['turn'] = data.apply(lambda row: time_window(row[5]), axis=1)

<ipython-input-7-48b8b9a8880d>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  data['week'] = data['date'].dt.week

In [16]:
users = list(np.unique(data['client_id']))
print('User quantity:',len(users))

User quantity: 175118