# Perfiles de comportamientio y minado de patrones

In [6]:
import numpy as np
import datetime
from datetime import date
import json
import pylab
import pandas as pd
import matplotlib.pyplot as plt
import os, sys, logging, warnings, time

In [7]:
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), "behavior_patterns/src/"))
import load_data as data_loader

In [8]:
def footprint_user(tupla):
    user = tupla
    user_data = data[data['client_id'] == user]
    years = set(list(user_data['año']))              # Lista los años en que se tiene TXs registradas
    footprint_dict = {year:{} for year in list(years)}    # definimos 'year' como una lista 

    for index, row in user_data.iterrows():
        # print(row['año'], row['turn'], row['week'], row['weekday'], row['mccg'])
        
        año = row['año']
        turn = row['turn']
        week = row['week']
        weekday = row['weekday']
        categoria = row['mccg']
    
        # Si la semana no existe en el año
        if not(week in footprint_dict[año]):
            footprint_dict[año][week] = {}
        # Si el mccg no existe en la semana y año
        if not (categoria in footprint_dict[año][week]):
            footprint_dict[año][week][categoria]={}  #NUMERO DE MCCGs VARIABLES
        # Si el turno no existe en el mccg,semana y año
        if not (turn in footprint_dict[año][week][categoria]):
            footprint_dict[año][week][categoria][turn]=np.array([0]*7)  #CUATRO TURNOS
        
        monto=False  
        if monto:
            # suma montos "importancia por gastos"
            footprint_dict[año][week][categoria][turn][weekday]+=row['amount_sol']
        else:
            # suma cantidades "importancia por compras"
            footprint_dict[año][week][categoria][turn][weekday]+=row['quantity']
        
    return (user, footprint_dict)

## Contruccion de "FootPrints"

En esta etapa contruiremos los "footprints" basicos (tensores dimesionales) de cada cliente a partir de sus datos transaccionales, la dimesiones del footprint son elegidas por el usuario, nosotros tenemos los siguientes casos de estudio:

**Datos de bancarios**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}                n: # de sesiones de cada cliente

**Datos mobiles**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}

In [9]:
to_read = 'bank_trx' 
session = data_loader.read_data(font=to_read)

In [ ]:
footprints = data_loader.footprints(font=to_read)

In [ ]:
footprints.head()

In [10]:
global data
data=session

In [11]:
    
    def time_window(hora):
        tw = -1
        if hora >=0:
            tw = 1       # Madrugada
        if hora >=6:
            tw = 2      # Mañana
        if hora >=12:
            tw = 3      # Tarde
        if hora >=18:
            tw = 4      # Noche
        return tw   
    
    data['date'] = pd.to_datetime(data['date'])
    data['week'] = data['date'].dt.week
    data['weekday'] = data['date'].dt.weekday
    data['day'] = data['date'].dt.day_name()
    data['turn'] = data.apply(lambda row: time_window(row[5]), axis=1)

<ipython-input-11-b32b4d7a7e93>:14: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  data['week'] = data['date'].dt.week

In [12]:
users = list(np.unique(data['client_id']))
print('User quantity:',len(users))

User quantity: 175118

In [13]:
data.head()

,client_id,date,año,mes,dia,hora,merchant_departement,merchant_province,merchant_district,mccg,mccg_name,mcc,quantity,amount_usd,amount_sol,week,weekday,day,turn
0,+++g8j9k+5A=,2016-07-07 01:08:05,2016,7,7,1,LIMA,LIMA,San Juan De Luriganc,9,Clothing Stores,5655,1,13.875570,45.00,27,3,Thursday,1
1,++/oQ9Lb9dI=,2017-05-29 21:05:40,2017,5,29,21,LIMA,LIMA,San Juan De Luriganc,7,Utility Services,4812,1,32.067984,104.00,22,0,Monday,4
2,++1XMtcwMec=,2016-09-24 17:45:25,2016,9,24,17,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5533,1,55.502280,180.00,38,5,Saturday,3
3,++5u+heOZ8o=,2016-10-25 14:47:23,2016,10,25,14,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5541,1,16.468760,53.41,43,1,Tuesday,3
4,++5u+heOZ8o=,2016-10-25 14:53:47,2016,10,25,14,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5541,1,12.330757,39.99,43,1,Tuesday,3

contador = 0 
por_avance = 0
divisor = int(len(users) / 10)
print("Number of clients "+str(len(users)))

for user in users[0:10]:
    #user_i= data[data['client_id'] == user]       # filtramos dataset solo para el cliente i
    footprint_user(user, data)
    contador += 1
    if contador % divisor == 1:
        # print("vamos en el ",contador)
        print("==> ",por_avance,"%")
        por_avance += 10

In [14]:
#from multiprocess import Pool
import multiprocessing as multi_proc
from multiprocessing import Pool

In [ ]:
with Pool(20) as pool:
    resp_pool = pool.map(footprint_user, users[0:100])