# Perfiles de comportamiento y minado de patrones

In [1]:
import numpy as np
import datetime
from datetime import date
import json
import pylab
import pandas as pd
import matplotlib.pyplot as plt
import os, sys, logging, warnings, time

In [2]:
sys.path.append(os.path.join(os.path.dirname(os.getcwd()), "behavior_patterns/src/"))
import profile_builder as profile_manager

## Contruccion de "FootPrints"

En esta etapa contruiremos los "footprints" basicos (tensores dimesionales) de cada cliente a partir de sus datos transaccionales, la dimesiones del footprint son elegidas por el usuario, nosotros tenemos los siguientes casos de estudio:

**Datos de bancarios**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}                n: # de sesiones de cada cliente

**Datos mobiles**:
 - Sesion de TX
   - s = {cliente, timestamp, Monto}  
 - Cada cliente tiene una secuencia de sesiones de TX (S)
    - S = { s1, s2 , s3, ..., sn}

In [3]:
to_read = 'bank_trx'

In [4]:
sessions = profile_manager.session_data(font=to_read)

categories = list(np.unique(sessions['mccg']))
turns = list(np.unique(sessions['turn']))
day_of_week = list(np.unique(sessions['weekday']))

#sessions.head(3)

In [5]:
sessions

,client_id,date,año,mes,dia,hora,merchant_departement,merchant_province,merchant_district,mccg,mccg_name,mcc,quantity,amount_usd,amount_sol,week,weekday,day,turn
5622,+TNzsXNd57o=,2017-10-07 03:21:44,2017,10,7,3,LIMA,LIMA,San Juan De Luriganc,10,Miscellaneous Stores,5812,1,14.677270,47.60,40,5,Saturday,1
5623,+TNzsXNd57o=,2017-10-01 16:58:25,2017,10,1,16,LIMA,LIMA,San Juan De Luriganc,10,Miscellaneous Stores,5812,1,4.008498,13.00,39,6,Sunday,3
5624,+TNzsXNd57o=,2016-07-10 03:50:52,2016,7,10,3,LIMA,LIMA,San Juan De Luriganc,10,Miscellaneous Stores,5812,1,10.452929,33.90,27,6,Sunday,1
5625,+TNzsXNd57o=,2016-07-18 23:02:39,2016,7,18,23,LIMA,LIMA,San Juan De Luriganc,10,Miscellaneous Stores,5812,1,50.877090,165.00,29,0,Monday,4
5626,+TNzsXNd57o=,2017-03-02 08:22:07,2017,3,2,8,LIMA,LIMA,San Juan De Luriganc,8,Retail Outlet Services,5541,1,34.232573,111.02,9,3,Thursday,2
5627,+TNzsXNd57o=,2016-06-06 21:29:28,2016,6,6,21,LIMA,LIMA,San Juan De Luriganc,10,Miscellaneous Stores,5812,1,0.154173,0.50,23,0,Monday,4
5628,+TNzsXNd57o=,2016-07-25 21:22:30,2016,7,25,21,LIMA,LIMA,San Juan De Luriganc,10,Miscellaneous Stores,5812,1,43.168440,140.00,30,0,Monday,4

In [6]:
footprints = profile_manager.footprints(font=to_read,count_session=False)

User quantity: 1
Procesando en parallelo ...
Creando footprints...

footprint_id,year,week,profile_id,category,turn,size,c8t1d0,c8t1d3,c8t1d5,c8t1d6,c8t2d0,c8t2d3,c8t2d5,c8t2d6,c8t3d0,c8t3d3,c8t3d5,c8t3d6,c8t4d0,c8t4d3,c8t4d5,c8t4d6,c10t1d0,c10t1d3,c10t1d5,c10t1d6,c10t2d0,c10t2d3,c10t2d5,c10t2d6,c10t3d0,c10t3d3,c10t3d5,c10t3d6,c10t4d0,c10t4d3,c10t4d5,c10t4d6


[8, 10]
[1, 2, 3, 4]
[0, 3, 5, 6]
Guardando archivo: footprints.data
2016 10 1 27 [ 0.   0.   0.  33.9]
2016 10 4 29 [165.   0.   0.   0.]
2016 10 4 23 [0.5 0.  0.  0. ]
2016 10 4 30 [140.   0.   0.   0.]
2017 10 1 40 [ 0.   0.  47.6  0. ]
2017 10 3 39 [ 0.  0.  0. 13.]
2017 8 2 9 [  0.   111.02   0.     0.  ]
number of footprint: 7

In [7]:
footprints.head()
footprints

,footprint_id,year,week,profile_id,category,turn,size,c8t1d0,c8t1d3,c8t1d5,...,c10t2d5,c10t2d6,c10t3d0,c10t3d3,c10t3d5,c10t3d6,c10t4d0,c10t4d3,c10t4d5,c10t4d6
0,+TNzsXNd57o=,2016,27,0,10,1,33.90,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,+TNzsXNd57o=,2016,29,1,10,4,165.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,165.0,0.0,0.0,0.0
2,+TNzsXNd57o=,2016,23,2,10,4,0.50,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0
3,+TNzsXNd57o=,2016,30,3,10,4,140.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,0.0,0.0
4,+TNzsXNd57o=,2017,40,4,10,1,47.60,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,+TNzsXNd57o=,2017,39,5,10,3,13.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0
6,+TNzsXNd57o=,2017,9,6,8,2,111.02,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
footprints[(footprints['size']==0) & (footprints['footprint_id']=='+TNzsXNd57o=')]

In [ ]:
footprints[(footprints['size']==0)]

In [ ]:
sessions[sessions['client_id']=='+TNzsXNd57o=']

In [ ]:
footprints[footprints['footprint_id']=='+TNzsXNd57o='][['c10t1d5']]

In [ ]:
footprints[footprints['footprint_id']=='+TNzsXNd57o=']